{% extends "encyclopedia/layout.html" %}

{% block title %}
    New page
{% endblock %}

{% block body %}
    {% if error %}
        <h1>{{ error }}<h1>
        <a href="{% url "new_page" %}"><input type="submit" value="Return"></a>
    {% else %}
        <form action="{% url "new_page" %}" method="post">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Title" required>
            <br>
            <textarea name="content" placeholder="Write up some text..." required></textarea>
            <br>
            <input type="submit" value="Create New Page">
        </form>  
    {% endif %}
{% endblock body %}