{% extends "network/layout.html" %}

{% block body %}
<h2>All Post</h2>

{% for post in page_obj %}
    <div class="post-container">
        <div id="post-message-{{ post.id }}"></div>
        <div id="post-user">
            <a href="{% url "profile_page" post.created_by %}">
                {{ post.created_by }}
            </a>
        </div>
        <div id="post-content-edit_button">
            <div id="post-content-{{ post.id }}">{{ post.content }}</div>
            {% if request.user == post.created_by %}
                <button class="edit-button" data-post-id="{{ post.id }}">
                    <i class="fa-solid fa-pen-to-square" style="color: #232323;"></i>
                </button>
            {% endif %}
        </div>
        <div id="timestamp">{{ post.timestamp }}</div>
        <div class="like">
            <button class="like-button" data-post-id="{{ post.id }}">
                <i class="fa-solid fa-heart" style="color: #ff4013;"></i>
            </button>
            <div id="like-count-{{ post.id }}">{{ post.like_count }}</div>
        </div>
    </div>
{% endfor %}

<div class="pagination-container">
    <nav aria-label="...">
        <ul class="pagination">

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
    
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% endif %}
            
        </ul>
    </nav>
</div>
{% endblock %}